process {

  errorStrategy = 'retry'
  maxRetries = 3

  cpus = { max_cpus( 1 * task.attempt ) }
  memory = { max_memory( 1.GB * task.attempt ) }
  time = { max_time( 1.h * task.attempt ) }

  withName: 'split' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'fastq' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }
}

params {

  max_cpus = 1
  max_memory = 1.GB
  max_time = 200.h
}
