executor{

  jobName = { task.process }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/3.3.0'
}

conda {

  cacheDir = '/working/genomeinfo/share/containers/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/genomeinfo/share/containers/singularity'
}
